* {
  margin: 0px;
  padding: 0px;
}

/* Fundo da página */

body {
background-color: #000;
color: #fff;
font-family: Arial, sans-serif;
padding: 40px;
}

.grupoComandos {
  display: flex;
  flex-direction:column;
  align-items:center; /* centraliza os cartões */
  gap: 15px;
}

.cartaoComando {
  border: 1px solid #ff00c8e0;
  border-radius: 20px;
  width: 85vw;
  height: 10vh
}

@media (max-width: 480px) {
  .cartaoComando {
    width: 95vw; /* ocupa quase toda a tela */
    font-size: 0.9rem;
    padding: 15px 20px;
  }
  h3 {
    font-size: 1rem;
  }
  p {
    font-size: 0.85rem;
  }

}
.icone {
  height: 30px;
  width:30px

}

@media only screen and (min-width: 600px) {
  body {
    font-size: x-large;

  }
}

  @media only screen and (min-width: 768px) {
    .grupoComandos {
      flex-direction: row;
      flex-wrap: wrap;
    }
  
  .cartaoComando {
    width: calc(50vw - 30px);
  }

  .icone {
    height: 40px;
    width:40px

  }
}
 