* {
  margin: 0px;
  padding: 0px;
}

.grupoComandos {
  display: flex;
  flex-direction:row;
  align-items:center; /* centraliza os cartões */
  gap: 15px;
}

.cartaoComando {
  border: 1px solid #ff0000;
  border-radius: 20px;
  width: 85vw;
  height:auto;
}

@media (max-width: 480px) {
  .cartaoComando {
    width: 95vw; /* ocupa quase toda a tela */
    font-size: 0.9rem;
  }
  h3 {
    font-size: 1rem;
  }
  p {
    font-size: 0.85rem;
  }

}
 
 